<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

{% assign base = site.baseurl %}
{% assign canonical = base + page.url | remove_first:'/' | remove_first: 'index.html' %}


<head>
	<link rel="canonical" href="{{canonical}}" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" /> <title>{{ page.title }}</title> <meta name="author" content="Bruno Sánchez-Andrade Nuño - brunosan" />

	<!-- Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Oxygen|Arvo' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Economica:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lustria' rel='stylesheet' type='text/css'>

   <!--Google Plus  -->
   <link href="https://plus.google.com/114359371386539617196" rel="publisher" />
   
   <!-- Syntax highlighting CSS -->
   <link rel="stylesheet" href="{{site.baseurl}}css/syntax.css" type="text/css" />

   <!-- Main CSS -->
   <link rel="stylesheet" href="{{site.baseurl}}css/screen.css" type="text/css" media="screen, projection" />

	<!-- JQuery -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{site.baseurl}}js/footnote-popup.js"></script>
	<script type="text/javascript" src="{{site.baseurl}}js/tinybox.js"></script>
   <!-- Google Analytics -->
   <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33215020-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


</script>

  <!-- Facebook -->
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=159289677540507";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

  <!-- RSS announce -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://brunosan.eu/feed.xml">

</head>
<body>
