<table>
	<tr><td>	
	<header>
		<h1><a href="http://brunosan.eu/index.html">Saepe cadendo</a></h1>
		<p>by <a href="http://brunosan.eu/about">brunosan</a></p>
	</header>
	
	<nav>
		<ul>
	  	  	<li><a href="http://brunosan.eu/archives.html">Archive</a></li>
	  		<li><a href="http://brunosan.eu/about">About</a></li>
	  	  	<li><a href="http://twitter.com/brunosan">Twitter <img id="externalimg" src="http://brunosan.eu/media/external.gif"></a></li>
	  	  	<li><a href="http://cv.brunosan.eu/">C.V.</a></li>
		</ul>
	</nav>