<table>
	<tr><td>
	<header>
		<h1><a href="{{site.baseurl}}index.html">Saepe cadendo</a></h1>
		<p>by <a href="{{site.baseurl}}about">brunosan</a></p>
	</header>

  <nav>
    <ul> 
	  	  	<li><a href="{{site.baseurl}}archives.html">Archive</a></li>
	  		<li><a href="{{site.baseurl}}about">About</a></li>
        <li><a href="http://twitter.com/brunosan">Twitter </a></li>
	  	  	<li><a href="http://www.linkedin.com/profile/view?id=20589360&locale=en_US&trk=tab_pro">C.V.</a></li>
		</ul>

    {% include ad.html %}

  
    </nav>
