<table>
	<tr><td>	
	<header>
		<h1><a href="{{site.baseurl}}/index.html">Saepe cadendo</a></h1>
		<p>by <a href="{{site.baseurl}}/about.html">brunosan</a></p>
	</header>
	
	<nav>
		<ul>
	  	  	<li><a href="{{site.baseurl}}/archives.html">Archive</a></li>
	  		<li><a href="{{site.baseurl}}/about">About</a></li>
	  	  	<li><a href="http://twitter.com/brunosan">Twitter <img id="externalimg" src="{{site.baseurl}}/media/external.gif"></a></li>
	  	  	<li><a href="http://cv.brunosan.eu/">C.V.</a></li>
		</ul>
	</nav>