<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop">
	    <ul>
      {% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}{% endif %}>{{ link.title }}</a></li>
		  {% endfor %}
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

{% include browser-upgrade.html %}

<header class="masthead">
	<div class="wrap">
		<a href="https://www.instagram.com/mis_fotos_de_madrid/">
			<img src="{{ site.baseurl }}/images/volt2-hor.jpg" width="80%">
		</a>
		</br>
		</br>
	</div>
</header>

<div class="js-menu-screen menu-screen"></div>
