<form>
  <div class="form-group">
  <label for="Donaciónes a la Campaña"></label>
  <div id="error-message_es" class="" role="alert">  </div>
  <div class="row">
    <div class="col-md-auto">
      <input type="text" class="form-control" id="dni_es" aria-describedby="emailHelp" placeholder="Número de DNI">
      <small id="emailHelp" class="form-text text-muted">Número de DNI</small>
    </div>
    <div class="col-md-auto">
      <input id="custom_donation_es" style="width: 100px;" maxlength="10" type="text" placeholder="50" class="form-control" aria-label="Amount (to the nearest dollar)">
      <small id="donationHelp" class="form-text text-muted">Donación (€)</small>
    </div>
    <div class="col-md-auto">
      <button
        class="btn btn-primary"
        id="checkout-button_es"
        role="link">
        Dona
      </button>
      <small id="donationHelp" class="form-text text-muted"></small>
    </div>
  </div>
  </div>
</form>
