
<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<script>
  var stripe = Stripe('pk_live_XDbT1pNlAGwOruf9GAFE96NK');
  var sku = 'sku_EyBb0SvlodOPd8'

  /* test mode
  var stripe = Stripe('pk_test_3yJpT6NRdM59uKJmm4l5UcIc');
  var sku = "sku_Ey9eB9G1lW7uUP"
  */

  function process_donation(button_id,dni_id,cuantity_id,error_id,error_mes) {
    var checkoutButton = document.getElementById(button_id);
    checkoutButton.addEventListener('click', function () {
      var dni_val = document.getElementById(dni_id).value;
      var get_donation = parseInt(document.getElementById(cuantity_id).value);
      if (!Number.isInteger(get_donation)) {
        get_donation=50 ;
      };
      // When the customer clicks on the button, redirect
      // them to Checkout.
      if (dni_val=="") {
        $( error_id ).addClass( "alert alert-danger" ).text(error_mes);
        return;
      }
      stripe.redirectToCheckout({
        items: [{sku: sku , quantity: get_donation}],
        clientReferenceId: dni_val,

        // Note that it is not guaranteed your customers will be redirected to this
        // URL *100%* of the time, it's possible that they could e.g. close the
        // tab between form submission and the redirect.
        successUrl: 'https://brunosan.eu/VOLT_Europa/',
        cancelUrl: 'https://brunosan.eu/VOLT_Europa/',
      })
      .then(function (result) {
        if (result.error) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, display the localized error message to your customer.
          var displayError = document.getElementById('error-message');
          displayError.textContent = result.error.message;
        }
      });
    });
  };

  var button_id = 'checkout-button_es',
      dni_id = 'dni_es',
      cuantity_id = 'custom_donation_es',
      error_id = "#error-message_es",
      error_mes = "Por favor, rellene el campo de DNI"
  process_donation(button_id,dni_id,cuantity_id,error_id,error_mes);
  var button_id = 'checkout-button_en',
      dni_id = 'dni_en',
      cuantity_id = 'custom_donation_en',
      error_id = "#error-message_en",
      error_mes = "Please, fill out the National ID number"
  process_donation(button_id,dni_id,cuantity_id,error_id,error_mes);


</script>
