
<form>
  <div class="form-group">
  <label for="Campaign donations"></label>
  <div id="error-message_en" class="" role="alert">  </div>
  <div class="row">
    <div class="col-md-auto">
      <input type="text" class="form-control" id="dni_en" aria-describedby="emailHelp" placeholder="National ID number">
      <small id="emailHelp" class="form-text text-muted">National ID number</small>
    </div>
    <div class="col-md-auto">
      <input id="custom_donation_en" style="width: 100px;" maxlength="10" type="text" placeholder="50" class="form-control" aria-label="Amount (to the nearest dollar)">
      <small id="donationHelp" class="form-text text-muted">Donation (€)</small>
    </div>
    <div class="col-md-auto">
      <button
        class="btn btn-primary"
        id="checkout-button_en"
        role="link">
        Donate
      </button>
      <small id="donationHelp" class="form-text text-muted"></small>
    </div>
  </div>
  </div>
</form>
